<div class='container'>
    <h1>Please edit your exercise.</h1>
    <!-- Exercise Input Form -->
    <form method='post' id='exForm'>
        <label for='submit-name'>Name:</label>
        <input type='text' id='submit-name' name='name' autocomplete='off'>

        <label for='submit-reps'>Reps</label>
        <input type='number' id='submit-reps' name='reps'>

        <label for='submit-weight'>Weight</label>
        <input type='number' id='submit-weight' name='weight'>

        <label for='submit-date'>Date</label>
        <input type='date' id='submit-date' name='date'>
        <p>
            <input name='lbs' type='radio' id='submit-lbs'/>
            <label for='submit-lbs'>lbs</label>
        </p>
        <p>
            <input name='lbs' type='radio' id='submit-kgs'/>
            <label for='submit-kgs'>kgs</label>
        </p>
        <a href="workouts">Workouts</a>
        <input type='submit' id='edit-exercise' name='Edit Exercise' class='btn waves-effect waves-light'>
    </form>
</div>



