<div class='container'>
    <h1>Etzercise.</h1>
    <!-- Exercise Input Form -->
    <form id='exForm'>
        <label for='submit-name'>Name:</label>
        <input value="cheese" type='text' id='submit-name' name='name' autocomplete='off'>

        <label for='submit-reps'>Reps</label>
        <input type='number' id='submit-reps' name='reps'>

        <label for='submit-weight'>Weight</label>
        <input type='number' id='submit-weight' name='weight'>

        <label for='submit-date'>Date</label>
        <input type='date' id='submit-date' name='date'>
        <p>
            <input name='lbs' type='radio' id='submit-lbs'/>
            <label for='submit-lbs'>lbs</label>
        </p>
        <p>
            <input name='lbs' type='radio' id='submit-kgs'/>
            <label for='submit-kgs'>kgs</label>
        </p>
        <input type='submit' id='add-exercise' name='Add Exercise' class='btn waves-effect waves-light'>
    </form>

    <h4>Your exercise tracker:</h4>

    <!-- Empty Table on page load -->
    <table id='exercise-table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Date</th>
                <th>Weight</th>
                <th>Units</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>


<script>
    //// Convenience variables ////
    var addExercise = document.getElementById('add-exercise');
    var table = document.getElementById('exercise-table');

    //// Create DOM definitions ////
    // Returns a single row with 5 cells
    // Id is the id designated for the new row once added to the DB
    var tableRowInit = function(id, name, reps, weight, date, lbs){
        var row = document.createElement("tr");
        row.className = 'row';
        row.id = 'row' + id;

        // Fill the cells with DB query info
        for (var c = 0; c < 5; c++) {
            var cell = document.createElement('td');
            switch (c) {
                case 0:
                    cell.textContent = name;
                    cell.id = row.id + ' ' + 'name';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 1:
                    cell.textContent = reps;
                    cell.id = row.id + ' ' + 'reps';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 2:
                    cell.textContent = weight;
                    cell.id = row.id + ' ' + 'weight';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 3:
                    cell.textContent = date;
                    cell.id = row.id + ' ' + 'date';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 4:
                    if (lbs){
                        cell.textContent = 'lbs';
                        cell.className = 'lbs';
                        cell.id = row.id + ' ' + 'lbs';
                    }

                    else {
                        cell.textContent = 'kgs';
                        cell.className = 'kgs';
                        cell.id = row.id + ' ' + 'kgs';
                    }
                    row.appendChild(cell);
                    break;
            }
        }
        return row;
    };

    // Returns an edit button form
    var editButtonInit = function(id){
        var form = document.createElement('form');
        form.method = 'post';
        form.action = '/edit';

        var hideEdit = document.createElement('input');
        hideEdit.type = 'hidden';
        hideEdit.name = 'id';
        hideEdit.value = id;
        hideEdit.id = 'hideEdit';

        var edit = document.createElement('input');
        edit.type= 'submit';
        edit.name = 'edit';
        edit.value = 'Edit';
        edit.onclick = editExerciseClick;
        edit.className = 'btn waves-effect waves-light blue lighten-3 edit';

        form.appendChild(hideEdit);
        form.appendChild(edit);

        return form;
    };


    // Returns a remove button form
    var removeButtonInit = function(id){
        var form = document.createElement('form');

        var hideRemove = document.createElement('input');
        hideRemove.type = 'hidden';
        hideRemove.name = 'id';
        hideRemove.value = id;
        hideRemove.id = 'hideRemove';

        var remove = document.createElement('input');
        remove.type = 'submit';
        remove.name = 'remove';
        remove.value = 'Delete';
        remove.onclick = removeExerciseClick;
        remove.className = 'btn waves-effect waves-light red lighten-3 remove';

        form.appendChild(hideRemove);
        form.appendChild(remove);

        return form;
    };

    //// Helper Functions ////
    function addRowDataToTable(queryResponse){

    }


    //// Event Handlers ////
    // addExerciseClick queries the database
    function addExerciseClick() {
        var name = document.getElementById('submit-name').value;
        var reps = document.getElementById('submit-reps').value;
        var weight = document.getElementById('submit-weight').value;
        var date = document.getElementById('submit-date').value;
        var lbs = document.getElementsByName('lbs');

        // Lbs or Kgs
        if (lbs[0].checked)
            lbs = 1;    // unit is in lbs
        else
            lbs = 0;    // unit is in kgs

        // AJAX call to DB
        var req = new XMLHttpRequest();
        var payload = {name:name, reps:reps, weight:weight, date:date, lbs:lbs, addExercises:1};
        req.open('POST', '/', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                // id, name, reps, weight, date, lbs
                console.log("Add Exercise successful");
                var response = JSON.parse(req.responseText);
                var row = tableRowInit(response[0].id, response[0].name, response[0].reps, response[0].weight, response[0].date, response[0].lbs);
                var edit = editButtonInit(response[0].id);
                var remove = removeButtonInit(response[0].id);
                row.appendChild(edit);
                row.appendChild(remove);
                table.appendChild(row);
            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(payload));
        console.log("Add Exercise sent");
        event.preventDefault();
    }

    function removeExerciseClick(){
        var remove = document.getElementById('hideRemove');
        var row = document.getElementById('row' + remove.value);
        var payload = {id:remove.value, removeExercise:1};                        // value contains row id from mysql database
        var req = new XMLHttpRequest();
        req.open('POST', '/', true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                console.log("Remove Exercise successful");
                var response = JSON.parse(req.responseText);
                row.parentNode.removeChild(row);
            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(JSON.stringify(payload));
        console.log("Remove Exercise sent");
        event.preventDefault();
    }

    function editExerciseClick(){
        var req = new XMLHttpRequest();
        req.open('POST', '/edit', true);
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        req.send(null);
        console.log("Going edit page");
//        event.preventDefault();
    }

    //// Event Listeners ////

    // Add an exercise
    addExercise.addEventListener('click', addExerciseClick);


    // Highlight the table rows
    $("table").delegate('td','mouseover mouseleave', function(e) {
        if (e.type == 'mouseover') {
            $(this).parent().addClass("hover");
            $("colgroup").eq($(this).index()).addClass("hover");
        }
        else {
            $(this).parent().removeClass("hover");
            $("colgroup").eq($(this).index()).removeClass("hover");
        }
    });
</script>
