<div class='container'>
    <h1>Etzercise.</h1>
    <!-- Exercise Input Form -->
    <form action='/insert' method='get' id='exForm'>
        <label for='submit-name'>Name:</label>
        <input type='text' id='submit-name' name='name'>

        <label for='submit-reps'>Reps</label>
        <input type='number' id='submit-reps' name='reps'>

        <label for='submit-weight'>Weight</label>
        <input type='number' id='submit-weight' name='weight'>

        <label for='submit-date'>Date</label>
        <input type='date' id='submit-date' name='date'>
        <p>
            <input name='units' type='radio' id='submit-lbs'/>
            <label for='submit-lbs'>lbs</label>
        </p>
        <p>
            <input name='units' type='radio' id='submit-kgs'/>
            <label for='submit-kgs'>kgs</label>
        </p>
        <input type='submit' id='add-exercise' class='btn waves-effect waves-light'>
    </form>

    <!-- Empty Table on page load -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Date</th>
                <th>Weight</th>
                <th>Units</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>


<script>
    //// Convenience variables ////
    var addExercise = document.getElementById('add-exercise');

    //// Create DOM definitions ////
    // Returns a single row with 5 cells
    // Id is the id designated for the new row once added to the DB
    var tableRowInit = function(id, name, reps, weight, date, units){
        var row = document.createElement("tr");
        row.className = "row";
        row.id = "row" + id;

        // Fill the cells with DB query info
        for (var c = 0; c < 5; c++) {
            var cell = document.createElement('td');
            switch (i) {
                case 0:
                    cell.textContent = name;
                    cell.id = row.id + ' ' + 'name';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 1:
                    cell.textContent = reps;
                    cell.id = row.id + ' ' + 'reps';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 2:
                    cell.textContent = weight;
                    cell.id = row.id + ' ' + 'weight';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 3:
                    cell.textContent = date;
                    cell.id = row.id + ' ' + 'date';
                    cell.className = 'cell';
                    row.appendChild(cell);
                    break;
                case 4:
                    cell.textContent = units;
                    cell.id = row.id + ' ' + 'units';
                    cell.className = 'units';
                    row.appendChild(cell);
                    break;
            }
        }
        return row;
    };

    // Returns an edit button form
    var editButtonInit = function(id){
        var form = document.createElement('form');

        var hideEdit = document.createElement('input');
        hideEdit.type = 'hidden';
        hideEdit.name = 'id';
        hideEdit.value = id;

        var editB = docuemnt.createElement('input');
        editB.type= 'submit';
        editB.name = 'edit';
        editB.value = 'Edit';

        form.appendChild(hideEdit);
        form.appendChild(editB);

        return form;
    };


    // Returns a delete button form
    var deleteButtonInit = function(id){
        var form = document.createElement('form');

        var hideDelete = document.createElement('input');
        hideDelete.type = 'hidden';
        hideDelete.name = 'id';
        hideDelete.value = id;

        var deleteB = docuemnt.createElement('input');
        deleteB.type= 'submit';
        deleteB.name = 'delete';
        deleteB.value = 'Delete';

        form.appendChild(hideDelete);
        form.appendChild(deleteB);

        return form;
    };


    //// Helper Functions ////


    //// Event Handlers ////
    // addExerciseClick queries the database
    function addExerciseClick() {
        var name = document.getElementById('submit-name').value;
        var reps = document.getElementById('submit-reps').value;
        var weight = document.getElementById('submit-weight').value;
        var date = document.getElementById('submit-date').value;
        var units = document.getElementsByName('units');
        // Units should be an array of radio button objects; confirm this
        if (units[0].value == 'checked')
            units = document.getElementById('lbs').value;
        else
            units = document.getElementById('kgs').value;

        // What the user entered
        console.log('this1');
        console.log(name, reps, weight, date, units);
        console.log('this2');


        // AJAX call to DB
        var req = new XMLHttpRequest();
        req.open("GET", 'http://52.88.212.193:3000/insert?name=' + name + '&reps=' + reps + '&weight='
                + weight + '&date=' + date + '&lbs=' + units, true);
        req.addEventListener('load', function () {
            if (req.status >= 200 && req.status < 400) {
                console.log(req.rows);
                var response = JSON.parse(req.rows);
                // What we got back
                console.log(response.name);

            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        req.send(null);
        event.preventDefault();
    }

    //// Event Listeners ////
    addExercise.addEventListener('click', addExerciseClick);
</script>
