<h1>{{DNE}}</h1>

<form action="/" method="post">
    <label for="name">What's your name:</label>
    <input id="name" type="text" name="username">   <!-- value is passed and stored as .username -->
    <input type="submit" name="New List">           <!-- New List is identifier for post req.body -->
</form>